Options +Indexes
Options +FollowSymLinks

RewriteCond %{REQUEST_FILENAME} \.(gif|jpe?g|png|js|css|swf|php|ico|txt|pdf|xml)$ [OR]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -l

RewriteRule ^ - [L]
RewriteEngine on
RewriteBase /zoonosis_cb/api
RewriteRule ^(.*)$ index.php?ver=$1 [QSA] 